<div style="width:430px;padding-left:30px;">
<div class="container">
    <form autocomplete="off"> 
        <div class="form-group">
          <label for="bookName">BOOK NAME <span style="color: red;">*</span></label>
          <input type="text" name="bookName" id="" class="form-control" [(ngModel)]="book.bookName" required>
                 </div>
        <div class="form-group">
            <label for="author">AUTHOR NAME  <span style="color: red;">*</span></label>
            <input type="text" name="author" id="" class="form-control"  [(ngModel)]="book.author" required>
          </div>
          <div class="form-group">
            <label for="description">DESCRIPTION  <span style="color: red;">*</span></label>
            <input type="text" name="description" id="" class="form-control"  [(ngModel)]="book.description" required>
          </div>
          <div class="form-group">
            <label for="genre">GENRE <span style="color: red;">*</span></label>
            <input type="text" name="genre" id="" class="form-control"  [(ngModel)]="book.genre" required>
          </div>
          <input name="save" id="" class="btn btn-primary" type="button" value="save" (click)="saveBook()">
    </form>
</div>
</div>