<table class="table table-striped table-bordered text-center" style="table-layout: fixed; font-size: 14px;" align-center>   
    <thead>
        <tr>
           <th>BOOK ID</th>
           <th>BOOK NAME</th>
            <th>AUTHOR</th>
            <th>GENRE</th>
            <th>DESCRIPTION</th>
            <th>EDIT BOOK</th>
            <th>DELETE BOOK</th>
        </tr>       
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.description}}</td>
            <td><i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#modelId" style="color :blue;cursor: pointer;" (click)="updateBook(book)"></i></td>
            <td><i class="fa fa-trash" style="color:rgb(182, 52, 52);cursor: pointer;" aria-hidden="true" (click)="deleteBook(book)"></i></td>
        </tr>
        

    </tbody>
</table>

<!-- Button trigger modal -->
<div style="padding-top :20px;">
    <button type="button" class="btn btn-info btnMargin"  data-toggle="modal" data-target="#modelId" (click)="createBook()">
        <i class="fa fa-plus-square" aria-hidden="true"></i>ADD BOOK
    </button>
    </div>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                            
                    </div>
            <div class="modal-body">
               <app-book [editable]="isEdit"  [book]="selectedBook"  (successEvent)="parentMethodAck($event)"></app-book>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopUp">Close</button>
            </div>
        </div>
    </div>
</div>