<div style="width:430px;padding-left:30px;">
<div class=container>
  
<div class="form-group">
      <label for="userId">USER ID <span style="color: red;">*</span></label>
      <input type="number" name="userId" id="" class="form-control" [(ngModel)]="userId" required>
    </div>
    <input name="save" id="" class="btn btn-primary" type="button" value="save" (click)="saveUserId()">
</div>
</div>