<p>librarybook works!</p>
<form #librarform="ngForm">
<div class="container">
  <div *ngIf="error">
    {{error | json}}
    </div>
    <div class="form-group">
          <label for="userId">USER ID <span style="color: red;">*</span></label>
          <input type="number" name="userId" id="userId" class="form-control" [(ngModel)]="userId" required>
        </div>
        <div class="form-group">
            <label for="id">Book Id <span style="color: red;">*</span></label>
            <input type="number" name="id" id="id" class="form-control" [(ngModel)]="id" required>
          </div>
        <input name="save" id="" class="btn btn-primary" type="button" value="save"  id="closePopUP" (click)="issueBookToUser(librarform)">
    </div>
</form> 