 <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f2fd;">
   <h4>LIBRARY MANAGEMENT SYSTEM</h4>
    <a routerLink="/books">BOOKS</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/users">USERS</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/library">LIBRARY</a>
</nav>
<router-outlet></router-outlet>