<!-- Button trigger modal -->
<button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#modelId">
    FIND BY USER ID
  </button>
<table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;" align-center>   
    <thead>
        <tr>
            <th>BOOK ID</th>
            <th>BOOK NAME</th>
            <th>AUTHOR</th>
            <th>DESCRIPTION</th>
            <th>DELETE BOOK</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let library of libraryEntries">
            <td>{{library.id}}</td>
            <td>{{library.bookName}}</td>
            <td>{{library.author}}</td>
            <td>{{library.description}}</td>
            <td><i class="fa fa-trash" style="color:rgb(182, 52, 52);cursor: pointer;" aria-hidden="true" (click)="deleteBookCorrespondingToUser(library)"></i></td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <app-library (validUserId)="getAllBooksCorrespondingToUser($event)"></app-library>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopUp">Close</button>
                
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#librarybook" >
    <i class="fa fa-plus-square" aria-hidden="true"></i> issue book to user
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="librarybook" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
                  <div class="modal-header">
                          <h5 class="modal-title">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                      </div>
              <div class="modal-body">
                  <div class="container-fluid">
                      <app-librarybook></app-librarybook>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
              </div>
          </div>
      </div>
  </div>
  