<p>user works!</p>
<div class="container">
    <form autocomplete="off"> 
        <div class="form-group">
          <label for="userName">USER NAME<span style="color: red;">*</span></label>
          <input type="text" name="userName" id="" class="form-control" [(ngModel)]="user.userName" required>
        </div>
        <div class="form-group">
            <label for="emailId">EMAIL ID<span style="color: red;">*</span></label>
            <input type="text" name="emailId" id="" class="form-control" [(ngModel)]="user.emailId" required>
          </div>
          <div class="form-group">
            <label for="mobile">MOBILE<span style="color: red;">*</span></label>
            <input type="text" name="mobile" id="" class="form-control" [(ngModel)]="user.mobile" required>
          </div>
          <input name="save" id="" class="btn btn-primary" type="button" value="save" (click)="saveUser()">
    </form>
</div>