<table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;">   
    <thead>
        <tr>
            <th>User Id</th>
            <th>UserName</th>
            <th>Email Id</th>
            <th> Mobile</th>
            <th> EDIT</th>
            <th> Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.emailId}}</td>
            <td>{{user.mobile}}</td>

            <td><i class="fa fa-pencil" aria-hidden="true"  style="color :blue;cursor: pointer;"   (click)="updateUser(user)"  data-toggle="modal" data-target="#modelId"></i></td>
            <td><i class="fa fa-trash" style="color:rgb(182, 52, 52);cursor: pointer;" aria-hidden="true" (click)="deleteUser(user)"></i></td>
        </tr>
    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#modelId" (click)="createUser()">
    <i class="fa fa-plus-square" aria-hidden="true"></i>add user
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">User Details</h5>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <app-user [editable]="isEdit"  [user]="selectedUser" (successEvent)="parentMethodAck($event)"></app-user>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopUp">Close</button>
               
            </div>
        </div>
    </div>
</div>